language: ruby
rvm:
  - 2.4
script:
  - bundle exec jekyll build --future
  - bundle exec htmlproofer ./_site --only-4xx --check-favicon --check-html --disable-external
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer