---
layout: homepage
title: "HI-ARC"
excerpt: HI-ARC | Hong-Ik Algorithm Research Club
---
{% assign nav_collections = site.sections | sort: 'sequence' %}

{% include navigation.html %}

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>{{site.fulltitle}}</strong>
                </h1>
            </div>
            <div class="col-lg-8 mx-auto btn-scroll-wrap">
                <a class="btn btn-scroll js-scroll-trigger" href="#about">
                    <img src="img/down-arrow-white.png" alt="scroll-down button" class="img-scroll">
                </a>
            </div>
        </div>
    </div>
</header>

{% for section in nav_collections %}
    {% if section.enable %}
                        
        {{ section }}

    {% endif %}
{% endfor %}