/* Place the timelime to the left */
.timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid #F81894;
    border-width: 10px 10px 10px 0;
    border-color: transparent #F81894 transparent transparent;
    }

    .container h2 {
        word-break: keep-all;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }

    
.right::after {
    left: 20px;
}